<h1>Editing sync_operation</h1>

<%= render 'form' %>

<%= link_to 'Show', definition_sync_operation_path(@definition, @sync_operation) %> |
<%= link_to 'Back', service_definition_path(@definition.service, @definition) %>
